<br />
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "登入來源" %><br>
    <%= f.text_field :provider %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label "姓名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "電子信箱" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :oauth_token %><br>
    <%= f.text_field :oauth_token %>
  </div>
  <div class="field">
    <%= f.label "帳號權限" %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit "更新使用者", class:'btn btn-primary' %>
  </div>
<% end %>
