<h1>使用者清單</h1>

<table class="table table-bordered">
  <thead>
    <tr bgcolor="lightyellow">
      <th>姓名</th>
      <th>電子信箱</th>
      <th>Uid</th>
      <th>權限</th>
      <th>處室</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.uid %></td>
        <td><%= user.role %></td>
        <td><%= user.office %></td>
        <td><%= link_to '查看', user %></td>
        <td><%= link_to '編輯', edit_user_path(user) %></td>
        <td><%= link_to '刪除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增使用者', new_user_path, :class=>'btn btn-primary' %>
