<p id="notice"><%= notice %></p>

<p>
  <strong>登入管道:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>電子信箱:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Oauth token:</strong>
  <%= @user.oauth_token %>
</p>

<p>
  <strong>Oauth 過期時間:</strong>
  <%= @user.oauth_expires_at %>
</p>

<p>
  <strong>處室：</strong>
  <%= @user.office %>
</p>

<p>
  <strong>使用者權限:</strong>
  <%= @user.role %>
</p>

<%= link_to '編輯', edit_user_path(@user) ,:class=>'btn' %> |
<%= link_to '返回', users_path ,:class=>'btn' %>
