<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="field">
    收文日期<br>
    <%= f.text_field :received_at %>
  </div>
  <div class="field">
    收文文號<br>
    <%= f.text_field :received_no %>
  </div>
  <div class="field">
    發文單位<br>
    <%= f.text_field :sent_from %>
  </div>
  <div class="field">
    文別<br>
    <%= f.text_field :doc_type %>
  </div>
  <div class="field">
    發文文號<br>
    <%= f.text_field :sent_no %>
  </div>
  <div class="field">
    發文主旨<br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    管理處室<br>
    <%= f.text_field :office %>
  </div>
  <div class="actions">
    <%= f.submit "儲存編輯結果", class:'btn btn-primary' %>
  </div>
<% end %>
