<i class="icon-search"></i>

<!-- 全選控制 http://viralpatel.net/blogs/multiple-checkbox-select-deselect-jquery-tutorial-example/ -->
<SCRIPT language="javascript">
$(function(){
 
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
          $('.case').attr('checked', this.checked);
    });
 
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".case").click(function(){
 
        if($(".case").length == $(".case:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
 
    });
});
</SCRIPT>


<%= form_tag multiupdate_documents_path do %>

   <% # .html_safe 是指這一段 html 是安全的，叫 rails 不用溢出處理 %>
   <%= select_tag "op", 
      "<option value='sign'>簽收</option>
       <option value='back'>歸檔</option>
       <option value='unsign'>取消簽收</option>
       <option value='unback'>取消歸檔</option>
       <option value='delete'>刪除</option>".html_safe, 
      prompt:"選取一個指令" %>

<%= submit_tag "批次處理", :class=>'btn btn-primary' %>

<table class="table table-bordered">
  <thead>
    <tr bgcolor="lightgray">
       <th><input type="checkbox" id="selectall" /></th>
      <th>收文日期</th>
      <th>總收文</th>
      <th>發文機關</th>
      <th>文別</th>
      <th>發文字號</th>
      <th>事由</th>
      <th>組</th>
      <th>簽收人</th>
      <th>簽收日期</th>
      <th>歸檔日期</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
         <td><%= check_box_tag 'document_ids[]', document.id, false, :class=>"case" -%></td>
        <td><%= document.received_at %></td>
        <td><%= document.received_no %></td>
        <td><%= document.sent_from %></td>
        <td><%= document.doc_type %></td>
        <td><%= document.sent_no %></td>
        <td><%= document.title %></td>
        <td><%= document.office %></td>
        <td><%= document.user_id %></td>
        <td><%= document.user_get.strftime("%m/%d/%Y") if document.user_get  %></td>
        <td><%= document.user_back.strftime("%m/%d/%Y") if document.user_back%></td>
        <td><%= link_to '查看', document %></td>
        <td><%= link_to '編輯', edit_document_path(document) %></td>
        <td><%= link_to '刪除', document, method: :delete, data: { confirm: '你確定要刪除？此動作無法復原！' } %></td>
      </tr>
     <% end %>
  </tbody>
</table>
<%= paginate @documents %>
<% # 以下功能暫時不顯示，改到上方下拉式選單中 %>
<% link_to '新增一份公文', new_document_path , :class=>"btn" %>
<% link_to '匯入Excel檔案', {:controller=>'documents', :action=>'upload'}, :class=>"btn" %>
<% end %>




