<p id="notice"><%= notice %></p>

<p>
  <strong>Received at:</strong>
  <%= @document.received_at %>
</p>

<p>
  <strong>Received no:</strong>
  <%= @document.received_no %>
</p>

<p>
  <strong>Sent from:</strong>
  <%= @document.sent_from %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @document.doc_type %>
</p>

<p>
  <strong>Sent no:</strong>
  <%= @document.sent_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Office:</strong>
  <%= @document.office %>
</p>

<p>
  <strong>user:</strong>
  <%= @document.user_id %>
</p>

<p>
  <strong>user get:</strong>
  <%= @document.user_get %>
</p>

<p>
  <strong>user back:</strong>
  <%= @document.user_back %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
